<html>
<head>
    <title>Competitive Programming Port - CodingTitans </title>
    <link rel="icon" href="/assets/CP-logo.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/brands.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/About.css">
 </head>

<body>

<nav class="navbar navbar-default navbar-static-top navbar-fixed-top opaque">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="brand-icon" href="#"><i class="fas fa-laptop-code"></i>&nbsp;&nbsp;<b>CONTEST</b> TRACKER </a> 
        <!-- CODING TITANS -->
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/ongoing"> Ongoing </a></li>
            <li id="ong"><a href="/upcoming"> Upcoming </a></li>
            <li><a id="about" href="/#calendar"> Calendar </a></li>
        </ul>
    </div>
  </div>
</nav>

<div class="about">
  <h1 class="h1"><strong>ABOUT&nbsp;THE&nbsp;WEBSITE</strong></h1>
</div>

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <h4>People who participate in competitive-coding are always looking for ways to practice their coding and problem-solving skills. They are also always eager to compare themselves with other coding-enthusiasts. But trying to find out which competitive-programming contests are being held, at what website/platform and similar information can become a very tedious task owing to the number of websites conducting similar types of events. <br> Look no further because this website, solves that hurdle for all the coding-enthusiasts. It focuses on providing the users , about the information on the versatile competitive-coding contests of past (10 years), present and future that are being conducted on the various competitive programming platforms, all at a single place! Each contest will display essential information such as the contest name , start and end date/time , name of the platform conducting the contest and the URL redirecting to the registration page of the said contest. The website also allows the users to save a particular contest on their own google account calendar, with all the related information. <br><h2>Hope this website be of great service to you!</h2>
    </h4>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <img class="illustration img-responsive center-block" src="/assets/About-Img.jpg">
  </div>
</div>

<div class="CP">
  <h1 class="h1"><strong>INCLUDED COMPETITIVE PROGRAMMING PLATFORMS</strong></h1>
</div>

<div class="row">
  <div class="col-lg-1 col-md-2 col-sm-2 first-col">
   <img class=" img-responsive center-block " src="https://i.pinimg.com/originals/c5/d9/fc/c5d9fc1e18bcf039f464c2ab6cfb3eb6.jpg">
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2">
    <img class=" img-responsive center-block " src="https://lh3.googleusercontent.com/ILZ9MkCbRkQaTo-inEIqIC1XZegltMao-BColGU19SN1PvXEZkjmgUNr0mLF8v3ozKlTtB7JN8U=w128-h128-e365">
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2">
    <img class=" img-responsive center-block " src="https://image.flaticon.com/teams/slug/google.jpg">
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2">
    <img class=" img-responsive center-block " src="https://pbs.twimg.com/profile_images/1245659180138000396/g2Lno7fR_400x400.png">
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2">
    <img class=" img-responsive center-block " src="https://upload.wikimedia.org/wikipedia/commons/6/65/HackerRank_logo.png">
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2">
    <img class=" img-responsive center-block " src="https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png">
  </div>
  <div class="col-lg-1 col-md-2 col-sm-2">
    <img class=" img-responsive center-block "src="https://cdn4.iconfinder.com/data/icons/logos-brands-5/24/topcoder-512.png">
    <!-- https://raw.githubusercontent.com/donnemartin/interactive-coding-challenges/master/images/logo_topcoder.png"> -->
  </div>
</div>

<div class="BY">
  <h1 class="h1"><strong>DEVELOPED BY</strong></h1>
</div>

<div class="DEV-BY">
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img class="ME" src="https://cdn.dribbble.com/users/976757/screenshots/5375959/05.jpg">
      </div>
      <div class="flip-box-back">
        <h2 class="SMH">My Social Media Handles</h2>
        <p><i class="fas fa-camera-retro"></i>&emsp;<i class="fab fa-facebook-square">&emsp;</i><i class="fas fa-envelope"></i></p>
      </div>
    </div>
  </div>
  <h2 class="SS">SSOMYA&nbsp;&nbsp;SAXENA</h2>    
</div>

</body>
</html>