<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Competitive Programming Port - CodingTitans </title>
	<link rel="icon" href="/assets/CP-logo.jpg" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/regular.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/front.css">
</head>
<body>

  <div id="home">  
    <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="brand-icon" href="#"><i class="fas fa-laptop-code"></i>&nbsp;&nbsp;<b>CONTEST</b> TRACKER </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/upcoming"> Upcoming </a></li>
          <li id="ong"><a href="/ongoing"> Ongoing </a></li>
          <li><a href="#home"> Home </a></li>
        </ul>
      </div>
     </div>
    </nav>
  
   <div class="row">
     <div class="col-lg-7 col-sm-8">
      <h1 class="head"><b>LIVE&nbsp;&nbsp;COMPETITIVE<br>PROGRAMMING&nbsp;&nbsp;TRACKER</b></h1> 
      <h2 class="con">Talk is cheap. Show me the code!</h2>
      <a class="btn btn-primary calen-btn" href="#calendar" role="button"><b>View Contest Calender&nbsp;&nbsp;<i class="far fa-calendar-alt"></i></b></a>
      <!-- <button class="btn btn-primary calen" onclick="myFunction()"><b>View Contest Calender&nbsp;&nbsp;<i class="far fa-calendar-alt"></i></b></button> -->
     </div>
     <div class="col-lg-5 col-sm-4">
       <img src="/assets/FrontP1.png" class="img-responsive center-block">
     </div>
   </div>  
  
  </div>
  
  <div id="calendar">
   <div class="calendar"> 
      <!-- <div class="topic-div"><h2 class="topic"><strong>PROGRAMMING CONTEST CALENDAR</strong></h2></div> -->
   
      <iframe src="https://calendar.google.com/calendar/b/3/embed?height=520&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=dWZtbWxnbjA3dmdnNjVwNG5mdm1vbmVjN2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=dDcwY2F2dmxuZDZ2MW1lZnQxamRxdjUyNjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=aTFuaDM0ZzNkb2E5YTVpOW1kMmVzYm5iNmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=aWQ4aDNzajEyNWVhYjFja2lkdWxtODVzOW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YTBjcTZiczJ0YWR2dXNhbGQwYXNlcHY5bWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=OWQxNjM3OHY5ZTdkYXYyaWoyZHY2dWplNDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YWc1cjg3YjZrYXVzNm5vZ3Npc3U2OXFmaG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;color=%237CB342&amp;color=%23E4C441&amp;color=%234285F4&amp;color=%23A79B8E&amp;color=%238E24AA&amp;color=%23D81B60&amp;showTitle=0&amp;showPrint=0&amp;title=Programming%20Contests%20Calendar" style="border-width:0" width="1130" height="570" frameborder="0" scrolling="no"></iframe>
      <!-- height:"535" -->
   </div>
  </div>    

  <!-- <script>
  function myFunction() {
    var elmnt = document.getElementById("calendar");
    elmnt.scrollIntoView({
      behavior: "smooth" 
    });
  }
  function homeFunction() {
    var elmnt = document.getElementById("home");
    elmnt.scrollIntoView({
      behavior: "smooth" 
    });
  }
 </script> -->

</body>
</html>  